/* 
    ================================
    LAYOUT PAGE OF DASHBOARD PAGE CSS
    ================================
*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}


/* 
    ================================
    INDEX PAGE CSS
    ================================
*/

.index-page-section {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-section {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .text-with-animation {
        margin: 14px 0px;
        font-size: 2em !important;
    }

    .btn-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 25px;
    }

    .btn-section button {
        padding: 5px 20px;
        margin: 10px;
        width: 25%;
        border: 1px solid white;
    }

    .btn-section button:hover {
        background: white;
        color: black;
        font-weight: bold;
        border: 1px solid black;
    }
}

.index-page-section::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}